<section id="education" class="resume-section">
  <div class="resume-section-content">
    <h2>Education</h2>

    {{- $schools := (index site.Data "education") -}}
    {{- if gt (len $schools) 0 -}}
      <div class="education-list">
        {{- $sorted := sort $schools "range" "desc" -}}
        {{- range $sorted }}
          <div class="mb-4">
            <div class="d-flex justify-content-between flex-wrap">
              <div>
                <strong>{{ .degree }}</strong><br>
                {{ .institution }}
              </div>
              <div class="text-muted">
                {{ .range }}
              </div>
            </div>

            {{- if .location }}
              <div class="mt-1">{{ .location }}</div>
            {{- end }}
          </div>
        {{- end }}
      </div>
    {{- end }}
  </div>
</section>
